{% extends "layout.html" %}
{% block title %}{{name}}{% endblock %}

{% block content %}

<h1>{{name}}</h1>
<h3>Henkilöt:</h3>
<p>
    <form action="/calendar/{{id}}" method="POST">
    {%for person in persons %}
    {% if persons_active %}
    | <input type="checkbox" name="participants" value="{{ person.id }}" {% if person.id|string in persons_active %} checked {% endif %}> {{ person.name }}
    {% else %}
    | <input type="checkbox" name="participants" value="{{ person.id }}" checked> {{ person.name }}
    {% endif %}
    {% endfor %}
    | <a href="/calendar/{{id}}/person/create">Lisää uusi henkilö</a><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Päivitä näkymä">
    </form>
</p>

<h3>Tapahtumat:</h3>
<div class="row">
    <!-- create colums for each weekday and store the outer loop index-->
    {%for weekday in weekdays %}
    <div class="col-md">
    <h5 class="viikonpaivaotsikko">{{weekday}}</h5>
    {% set outer_loop = loop %}
    {%for event in events %}
    <!-- iterate through events and show those that have this weekday as day-->
    {% if event.day == outer_loop.index %}
    <div class="tapahtuma">
    <a href="/calendar/{{id}}/event/{{event.id}}">{{event.eventname}}</a><br>
    {{event.start_time.strftime('%H:%M')}}-{{event.end_time.strftime('%H:%M')}}
    </div>
    {% endif %}
    {% endfor %}
    </div>
    {% endfor %}
</div>
<a href="/calendar/{{id}}/event/create">Lisää uusi tapahtuma</a><br>
{% endblock %}