{% extends "layout.html" %}
{% block title %}{{name}}{% endblock %}

{% block content %}

<h1>{{name}}</h1>
<h3>Henkilöt:</h3>
<p>
    {%for person in persons %}
    {{person.name}} | 
    {% endfor %}
    <a href="/calendar/{{id}}/person/create">Lisää uusi henkilö</a><br>
</p>

<h3>Tapahtumat:</h3>
<div class="row">
    <!-- create colums for each weekday and store the outer loop index-->
    {%for weekday in weekdays %}
    <div class="col-md">
    <h4 class="viikonpaivaotsikko">{{weekday}}</h4>
    {% set outer_loop = loop %}
    {%for event in events %}
    <!-- iterate through events and show those that have this weekday as day-->
    {% if event.day == outer_loop.index %}
    <div class="tapahtuma">
    <a href="/calendar/{{id}}/event/{{event.id}}">{{event.eventname}}</a><br>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    {% endfor %}
</div>
<a href="/calendar/{{id}}/event/create">Lisää uusi tapahtuma</a><br>
{% endblock %}