{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<p>Tervetuloa viikkoaikataulusovellukseen! Valitse seuraavista toiminnoista:</p>
<ul>
    <p></p>
    {% if calendars %}
    <li>
        Aikataulusi:<br>
        <ul>
        {% for calendar in calendars %}
        <li>
            <strong><a href="/calendar/{{ calendar.id }}">{{ calendar.calendarname}}</a></strong> | <a href="/calendar/{{ calendar.id }}/edit">muokkaa</a><br> 
        </li>
        {% endfor %}
        </ul>
    </li>
    {% else %}
    <li>
        Sinulla ei ole vielä aikatauluja
    </li>
    {% endif %}
    <li>
        <a href="/calendar/create">Tee uusi aikataulu</a>
    </li>
    
</ul>

{% endblock %}