{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<p>Tervetuloa viikkoaikataulusovellukseen! Valitse seuraavista toiminnoista:</p>
<ul>
    {% if session.username %}
    <li>
        Olet kirjautunut nimellä {{ session.username }}
    </li>
    <li>
        <a href="/logout">Kirjaudu ulos</a>
    </li>
    {% else %}
    <li>
        <a href="/create_user">Luo tunnus</a>
    </li>
    <li>
        <a href="/login">Kirjaudu sisään</a>
    </li>
    {% endif %}
    <p></p>
    {% if calendars %}
    <li>
        Aikataulusi:<br>
        <ul>
        {% for calendar in calendars %}
        <li>
            <strong>{{ calendar.calendarname}}</strong> | <a href="/calendar/{{ calendar.id }}">Avaa aikataulu</a><br> 
        </li>
        {% endfor %}
        </ul>
    </li>
    {% else %}
    <li>
        Sinulla ei ole vielä aikatauluja
    </li>
    {% endif %}
    <li>
        <a href="/calendar/create">Tee uusi aikataulu</a>
    </li>
    
</ul>

{% endblock %}