<h1>Perheen viikkoaikataulu</h1>
<p>Tervetuloa viikkoaikataulusovellukseen! Valitse seuraavista toiminnoista:</p>
<ul>
    <li>
        <a href="/login">Kirjaudu sisään</a>
    </li>
    {% if calendars %}
    <li>
        Olemassa olevat aikataulut:<br>
        {% for calendar in calendars %}
        Aikataulu {{ calendar.id }}: {{ calendar.calendarname}} | <a href="/calendar/{{ calendar.id }}">Avaa aikataulu</a><br>
        {% endfor %}
    </li>
    {% else %}
    <li>
        Sinulla ei ole vielä aikatauluja
    </li>
    {% endif %}
    <li>
        <a href="/calendar/create">Tee uusi aikataulu</a>
    </li>
    
</ul>