<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tyyli.css')}}">
</head>
<body>
<div class="container">
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li style="color: red;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<title>Perheen viikkoaikataulu - {% block title %}{% endblock %}</title>
<h1>Perheen viikkoaikataulu</h1>
<a href="/">Etusivu</a>
<a href="/login">Kirjautuminen</a>
<hr>
{% block content %}{% endblock %}
<hr>
Tässä on tällainen footerteksti.
</div>
</body>
